@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Special+Elite&display=swap');

.h1titulo {
    color: aquamarine;
    font-family: sans-serif;
    font-style: italic;
    background-color: blueviolet;
}

body {
    background-color: #a51363;

}

.navhover:hover {
    color: blue;
    background: red;
    transition: all 2s;
    border: 3px solid blue;
}

table {
    font-weight: bold;
    color: blue;
    font-size: 24px;
    font-family: 'Special Elite', cursive;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: salmon;
}


nav a:not(.navhover) {
    font-size: 20px;
    color: rgb(8, 239, 58);
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(37, 114, 152);
    text-align: center;
    border-style: dotted;
    list-style-type: none;
}

ul a:not(.navhover1) {
    display: flex;
    align-items: center;
    border: 1px solid #2907e5;
    height: auto;
    width: 100%;
    margin: 20px;
    padding: 0;
    background-color: chocolate;
    list-style-type: none;
}

img {
    height: auto;
    width: 60%;
    margin: 20px;
    padding: 0;
    border-style: groove;
}

li {
    height:  auto;
    width: 100%;
    margin:0;
    padding:  10px 20px;
}